[
    {
        "ParameterKey": "EnvironmentName",
        "ParameterValue": ""
    },
    {
        "ParameterKey": "JenkinsServerKeyName",
        "ParameterValue": ""
    },
    {
        "ParameterKey": "JenkinsServerAccessCIDR",
        "ParameterValue": ""
    },
    {
        "ParameterKey": "JenkinsServerInstanceType",
        "ParameterValue": ""
    }
]